<!DOCTYPE html>
<html>
<head>
    <title>Admin Login | Sunny-Framework</title>
    <%-include('../include/head')%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <%-include('../include/nav')%>
    <%-include('../include/alert')%>
    <div class="container mt-20 p-30 card rounded white">
        <h2 class="bl-green">Admin Login</h2>
        <form action="/admin/login" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="checkbox" name="remember" value="1"> Remember Me
            <input type="submit" value="Login" class="btn green">
        </form>
    </div>
</body>
</html>