<!DOCTYPE html>
<html>
<head>
    <title>About | Sunny-Framework</title>
    <%-include('include/head')%>
</head>
<body>
    <%-include('include/nav')%>
    <div class="container white p-20" id="mainpage">
        <div class="grid-1">
            <h1 class="bl-red">About Us.</h1>

        </div>
    </div>
    <%-include('include/footer')%>
</body>
</html>