<!DOCTYPE html>
<html>
<head>
    <title>Error Page | Sunny-Framework</title>
    <%-include('include/head')%>
</head>
<body>
    <%-include('include/nav')%>
    <div class="card container rounded white mt-20 p-30">
        <h1 class="bb-red">Error.</h1>
        <p>Page not found. Or you may doesn't have permission to access it.</p>
    </div>
</body>
</html>