<!DOCTYPE html>
<html>
<head>
    <title>Error Page | Sunny-Framework</title>
    <%-include('include/head')%>
</head>
<body>
    <%-include('include/nav')%>
    <div class="container white mt-70">
        <div class="grid">
            <div class="row-50">Error</div>
        </div>
    </div>
</body>
</html>