<h1 class="bl-red">Sidebar</h1>
<ul class="list">
    <a href="/admin/"><li><i class="fa-solid fa-house mr-10"></i>Dashboard</li></a>
    <a href="/admin/logout"><li><i class="fa-solid fa-right-from-bracket mr-10"></i>Logout</li></a>
</ul>